<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180185530922-bui8ph19cbdquo1cu2k73eg41opmscrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180185530922-bui8ph19cbdquo1cu2k73eg41opmscrc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>180185530922-c8gpibn0rrellij0ob2inua98vm0au8s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAT4P43C5Tx0ujIoaI_F3HALLOybmLCsl0</string>
	<key>GCM_SENDER_ID</key>
	<string>180185530922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.innovaciones.promotora</string>
	<key>PROJECT_ID</key>
	<string>promotora-metropolitana</string>
	<key>STORAGE_BUCKET</key>
	<string>promotora-metropolitana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180185530922:ios:db8ef6d9824576a0cbf953</string>
</dict>
</plist>